.banner {
  width:100%;
  padding-bottom: 60px;
  background-color: #29303b;
  color: #fff;
  min-width: 975px;
}
/* Remove me after testing 
*
*
*
*
*/
.belowContent {
  height: 2000px;
  background-color: red;
}

.container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.contentBox {
  display: flex;
  justify-content: flex-end;
}