.featureText, .featureIcon {
  font-size: 0.85em;
  color: #6f7174;
}

ul {
  list-style: none;
  margin-top: 5px;
  padding-left: 3px;
}

li {
  padding-bottom: 3.5px;
}

.featureText {
  padding-left: 10px
}