.delineation {
  width: 100;
  margin-bottom: 30px;
  border-top: 1px solid #e8e9eb
}

.shareInviteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share, .invite {
  padding-bottom: 10px;
}

.shareText:after {
  content: " *";
  white-space: pre;
  color: #00819b
}

.inviteIcon {
  padding-right: 5px;
  color: #00819b;
}

.inviteText {
  color: #0094aa;
}