.rightCol {
  display: flex;
  justify-content: flex-end;
  width: calc(100% * 1/3);
}

.sideBarContainer {
  position: absolute;
  color: #343e4f;
  background-color: #fff;
  width: 20%;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  border-radius: 5px;
  padding: 3px;
  min-width: 215px;
  z-index: 2;
}

.belowTrailer {
  padding: 5%;
}

.couponBox {
  width: 100%;
  height: 3em;
}